## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [13]:
import pandas as pd
import numpy as np
np.floor(np.random.rand(25) * np.random.rand(25))

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0.])

In [36]:
# set 24 countries with random population
# population uses two random.rand to make it more realistic and rounded to integer
data = {'國家': ['Afhganistan', 'Brazil', 'Canada', 'Denmark', 'Ethiopia', 'Finland', 'Germany', 'Haiti', 'Iceland', 'Jamaica', 
               'Kenya', 'Liechtenstein', 'Monaco', 'Netherlands', 'Oman', 'Portugal', 'Qatar', 'Russia', 'Sweden', 'Taiwan',
               'Uruguay', 'Vietnam', 'Yemen', 'Zimbabwe'],
        '人口': (np.random.rand(24) * np.random.rand(24) * 1000000000).astype(int)}
data = pd.DataFrame(data)
data

               國家         人口
0     Afhganistan  152957171
1          Brazil    6586240
2          Canada  621610528
3         Denmark    5799396
4        Ethiopia  111312505
5         Finland     154742
6         Germany  142597265
7           Haiti  173856415
8         Iceland  543728179
9         Jamaica  444723725
10          Kenya    5306947
11  Liechtenstein  102600827
12         Monaco    9193882
13    Netherlands  435881754
14           Oman  183965209
15       Portugal   56466846
16          Qatar  188933994
17         Russia  110339117
18         Sweden  115824034
19         Taiwan  217988066
20        Uruguay   65933855
21        Vietnam   45916969
22          Yemen   61552704
23       Zimbabwe  403683744

In [37]:
# the country with most population
data[data['人口'] == data['人口'].max()]

       國家         人口
2  Canada  621610528